body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url('D:/A_File/macOSWeb/images/desktop-bg.JPG') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

button{
  padding: 0;
}

span{
  display: block;
  text-align: center;
}

.icon {
  text-align: center;
  cursor: pointer;
  width: 140px;
  height: 140px;
  transition: transform 0.2s;
}

.icon img {
  width: 100px;
  height: 100px;
}

.icon span {
  font-size: 14px;
  color: #ffffff;
}

.icon:hover {
  transform: scale(1.1);
}

.folder-window {
  display: none;
  position: fixed;
  top: 15%;
  left: 15%;
  height: 70%;
  width: 70%;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.folder-header {
  background: #f0f0f0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  border-radius: 8px;
}

.dock {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 5px 10px;
}

.folder-content{
  height: 80%;
  padding: 1%;
}

.file-icon {
  height: 30%;
  float: left;
  margin: 2%;
}

.file-icon img {
  height: 50%;
  border-radius: 8%;
}

.file-icon img:hover{
  background-color: #b8b7b7;
}
.folder-header button{
  border-radius: 49%;
  background-color: #d11a1a;
  border: 10px solid transparent;
  padding: 0px;
  width: 20px; /* 调整宽度 */
  height: 20px; /* 调整高度 */
  text-align: center;
  line-height: 20px; /* 使文本垂直居中 */
  display: flex; /* 使用Flexbox */
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
}